@media (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        &__main {
            padding-top: 238px;

            display: flex;
            flex-direction: column;
            align-items: center;

            &-title {
                width: 343px;
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;

                text-align: center;
            }

            &-slogan {
                width: 343px;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;

                text-align: center;
            }

        }
    }

    .content {
        &__box {
            width: 343px;
        }
    }

    .games {
        display: flex;
        flex-wrap: wrap;

        .game {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            width: 344px;
            padding: 51px 0 51px 0;
            gap: 64px;
        }

        .game-1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__title {
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;

                text-align: center;
            }
    
            &__description {
                width: 343px;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;

                text-align: center;
            }
    
            &__img {
                margin-top: 64px;
                width: 344px;
            }
        }

        .game-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            order: 1;

            &__title {
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;

                text-align: center;
            }
    
            &__description {
                width: 343px;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;

                text-align: center;
            }
    
            &__img {
                margin-top: 64px;
                width: 344px;
            }
        }

        .game-2__image {
            order: 2;
        }

    }

    

}